
<div class="container" style="margin-left: 0px; width: 1380px;">
<div class="row">
  <div class="col-md-2">
    <uib-tabset active="activePill" vertical="true" type="pills">
      <uib-tab index="0" heading="Map" ng-click="mapSelect()"></uib-tab>
      <uib-tab index="1" heading="Graph" ng-click="graphSelect()"></uib-tab>
      <uib-tab index="2" heading="Aulas VI" ng-click="zona1()"></uib-tab>
      <uib-tab index="3" heading="Aulas V" ng-click="zona2()"></uib-tab>
      <uib-tab index="4" heading="Medicina" ng-click="zona3()"></uib-tab>
      <uib-tab index="5" heading="Visitantes" ng-click="zona4()"></uib-tab>
      <uib-tab index="2" heading="Cafeteria" ng-click="zona5()"></uib-tab>
      <uib-tab index="3" heading="Zona Azul" ng-click="zona6()"></uib-tab>
      <uib-tab index="4" heading="Zona Amarilla" ng-click="zona7()"></uib-tab>
      <uib-tab index="5" heading="Zona Roja" ng-click="zona8()"></uib-tab>
      <uib-tab index="2" heading="Zona Verde" ng-click="zona9()"></uib-tab>
      <uib-tab index="3" heading="Zona Morada" ng-click="zona10()"></uib-tab>
    </uib-tabset>
  </div>
  <div class="col-md-10">

    <ui-gmap-google-map ng-if="mapShow" center="map.center" zoom="map.zoom" draggable="false" options="options" bounds="map.bounds" control="map.control">
      <ui-gmap-polygons models="polygons" dorebuildall="true"
                        path="'path'" stroke="'stroke'" geodesic="'geodesic'" static="'true'" fill="'fill'"
                        fit="false" events="'events'">></ui-gmap-polygons>
      <ui-gmap-window show="polywindow.show" coords="polywindow.coords">
        <h> <b>{{titles}}</b> {{position}} {{position2}} </h>
      </ui-gmap-window>
    </ui-gmap-google-map>

    <div ng-if="chartShow">
      <div google-chart  chart="chartObject" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph1">
      <div google-chart  chart="pie1" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph2">
      <div google-chart  chart="pie2" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph3">
      <div google-chart  chart="pie3" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph4">
      <div google-chart  chart="pie4" style="height:500px; width:100%;"></div>
    </div>

    <div ng-if="pieGraph5">
      <div google-chart  chart="pie5" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph6">
      <div google-chart  chart="pie6" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph7">
      <div google-chart  chart="pie7" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph8">
      <div google-chart  chart="pie8" style="height:500px; width:100%;"></div>
    </div>

    <div ng-if="pieGraph9">
      <div google-chart  chart="pie9" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph10">
      <div google-chart  chart="pie10" style="height:500px; width:100%;"></div>
    </div>
  </div>
</div>

</div>


