<!--<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello world</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>-->

<div class="container" style="margin-left: 0px; width: 1380px;">
<div class="row">
  <div class="col-md-2">
    <uib-tabset active="activePill" vertical="true" type="pills">
      <uib-tab index="0" heading="Map" ng-click="mapSelect()"></uib-tab>
      <uib-tab index="1" heading="Graph" ng-click="graphSelect()"></uib-tab>

      <!--<uib-tab index="2" heading="Aulas VI"></uib-tab>
      <uib-tab index="3" heading="Aulas V"></uib-tab>
      <uib-tab index="4" heading="Medicina"></uib-tab>
      <uib-tab index="5" heading="Visitantes"></uib-tab>
      <uib-tab index="6" heading="Cafeteria"></uib-tab>
      <uib-tab index="7" heading="Zona Azul"></uib-tab>
      <uib-tab index="8" heading="Zona Amarilla"></uib-tab>
      <uib-tab index="9" heading="Zona Roja"></uib-tab>
      <uib-tab index="10" heading="Zona Verde"></uib-tab>
      <uib-tab index="11" heading="Zona Morada"></uib-tab>
      <uib-tab index="12" heading="Graph"></uib-tab>"></uib-tab>-->
      <uib-tab index="2" heading="Zone 1" ng-click="zona1()"></uib-tab>
      <uib-tab index="3" heading="Zone 2" ng-click="zona2()"></uib-tab>
      <uib-tab index="4" heading="Zone 3" ng-click="zona3()"></uib-tab>
      <uib-tab index="5" heading="Zone 4" ng-click="zona4()"></uib-tab>



    </uib-tabset>
  </div>
  <div class="col-md-10">

    <ui-gmap-google-map ng-if="mapShow" center="map.center" zoom="map.zoom" draggable="false" options="options" bounds="map.bounds" control="map.control">
      <ui-gmap-polygons models="polygons" dorebuildall="true"
                        path="'path'" stroke="'stroke'" geodesic="'geodesic'" static="'true'" fill="'fill'"
                        fit="false" draggable="'draggable'" events="'events'">></ui-gmap-polygons>
      <ui-gmap-window show="polywindow.show" coords="polywindow.coords">
        <h> <b>{{titles}}</b> {{position}} {{position2}} </h>
      </ui-gmap-window>
    </ui-gmap-google-map>

    <div ng-if="chartShow">
      <div google-chart  chart="chartObject" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph1">
      <div google-chart  chart="pie1" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph2">
      <div google-chart  chart="pie2" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph3">
      <div google-chart  chart="pie3" style="height:500px; width:100%;"></div>
    </div>
    <div ng-if="pieGraph4">
      <div google-chart  chart="pie4" style="height:500px; width:100%;"></div>
    </div>

  </div>
</div>


</div>


